@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,700;0,900;1,600;1,800&family=Patrick+Hand&family=Rubik+Glitch&family=Ubuntu&display=swap');

body{
    background-image: url(https://images.pexels.com/photos/1251198/pexels-photo-1251198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align:center;
    color:rgba(232, 57, 57, 0.975);
    font-family:Lobster,cursive;
    font-size: 4.8rem;
    margin-top: 0;
}
h3{
    font-size:1.4rem;
}
.parent{

    display: flex;
    padding-left: 8%;
    position: relative;

}
.col{
    width: 300px;
    height: 300px;
    margin: 20px 20px;
    border-radius: 10px;
    text-align: center;
    
    
    
}
.col-1{
    /* background-image: url(); */
    /* background-color: rgb(57, 50, 50); */
    
}
.col-2{
    /* background-color: rgb(153, 177, 237); */
    color: rgb(3, 2, 21);
    font-
    
}
.col-3{
    /* background-color: rgb(234, 179, 165); */
}
.col-4{
    /* background-color: rgb(199, 219, 180); */
}
.col-5{
    /* background-color: rgb(234, 179, 165); */
}
.col-6{
    /* background-color: rgb(199, 219, 180); */
}
#first_image{
    width: 100%;
    border-radius: 50%;
    padding-top: 10px;
}
#second_image{
    width: 80%;
    border-radius: 50%;
    /* padding-top: 10px; */
}
#third_image{
    width: 80%;
    border-radius: 50%;
}
.book_now_button{
    font-family:Lobster,cursive;
    font-size:2rem;
    color: rgb(20, 50, 220);
    border-radius: 25%;
}